# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# Pytest
.pytest_cache/
.coverage
htmlcov/
*.log

# Reportes
reports/*.html
reports/*.json
reports/screenshots/*.png

# Configuración local
config/.env

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Locust
*.log
