version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: control_gastos_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_NAME:-control_gastos_db}
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASS:-postgres}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  postgres_data:
